/* COLORS */
:root {
  /* POLICE */
  --dark-blue: #002c39;
  --blue: #025967;
  --medium-blue: #338897;
  --light-blue: #69b9c9;
  --very-light-blue: #9dedfd;
  /* JUDICIAL */
  --dark-red: #660016;
  --red: #9d233e;
  --medium-red: #cd5063;
  --light-red: #f6808f;
  --very-light-red: #ffbecb;
  /* UTILITIES */
  --dark-green: #001b04;
  --green: #034434;
  --medium-green: #20725f;
  --light-green: #53a08c;
  --very-light-green: #84d2bc;
  /* INFRASTRUCTURE */
  --dark-yellow: #491500;
  --yellow: #773f00;
  --medium-yellow: #aa6a10;
  --light-yellow: #df973f;
  --very-light-yellow: #ffd076;
  /* OTHER */
  --black: #2C3336;
  --dark-gray: #575e62;
  --light-gray: #b7bfc3;
  --white: #D4CFC9;
}

/* GENERAL STYLES */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  /* padding: 0px !important; */
  padding-bottom: 70px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: var(--black);
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: var(--black);
  text-align: left;
  font-weight: bold;
  padding-top: 2%;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-top: 2%;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 12px;
}

a {
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
  color: inherit;
}

.logo {
  width: auto;
  height: 70px;
}

a:hover {
  color: var(--light-gray);
}

.text {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 0 0 10px;
}

.note {
  font-size: 12px;
  line-height: 1;
}

.public-safety-u {
  text-decoration-color: var(--blue);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}

.judicial-services-u {
  text-decoration-color: var(--red);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}

.utilities-u {
  text-decoration-color: var(--medium-green);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}

.infrastructure-u {
  text-decoration-color: var(--medium-yellow);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}

/* NAV */
.nav-bg {
  background-color: var(--black);
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: var(--red);
}

a.public-safety-btn:hover {
  background-color: var(--blue);
  color: white;
}

a.judicial-services-btn:hover {
  background-color: var(--red);
  color: white;
}

a.utilities-btn:hover {
  background-color: var(--green);
  color: white;
}

a.infrastructure-btn:hover {
  background-color: var(--yellow);
  color: white;
}

.nav-link {
  color: var(--white);
  font-size: 20px;
}

.nav-link:hover {
  color: var(--red);
}

/* BUTTONS */
.btn-group {
  margin: auto;
  width: 100%;
  padding-top: 1%;
  margin-bottom: 2%;
}

.btn-color {
  background-color: var(--black);
}

.btn-color:hover {
  background-color: var(--light-gray);
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 0 !important;
}

.btn:hover {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

/* INTRO */
.intro-content {
  padding: 20px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: auto 0;
}

.align-center {
  text-align: center;
}

/* IMAGES */
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ICONS */
.icons-container {
  text-align: center;
}

.icons-container .icon {
  display: inline-block;
  margin: 10px 12px;
}

.icon img {
  height: 100px;
}

.caption {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.icon-attribution {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-style: italic;
  margin: 0 0 10px;
}

/* FOOTNOTES */
.footnotes {
  margin-top: 50px;
  font-size: 0.8em;
}

.footnotes ol {
  padding-left: 20px;
}

sup {
  color: var(--black);
}

sup a {
  text-decoration-color: var(--black);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
  color: inherit;
}

#footnote a {
  text-decoration-color: var(--black);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
  color: inherit;
}

#footnote a:hover {
  color: var(--black);
}

#footnote-url {
  text-decoration: none;
}

/* FOOTER */
.bg-color {
  background-color: var(--black);
}

.text-center {
  color: var(--white);
}

.footer {
  margin-top: 5%;
}

/* MARGINS */
.margin-top-xs {
  margin-top: 1%;
}

.margin-top-sm {
  margin-top: 2%;
}

.margin-top-md {
  margin-top: 3%;
}

.margin-top-lg {
  margin-top: 5%;
}


/* Mobile warning */
#mobile-pop-up{
  background-color: red;
  color: white;
  text-align: center;
  display: none;
}

/*********************/
/* PUBLIC SAFETY  */
/*********************/
.year {
  color: var(--blue);
  font-weight: bold;
  font-size: 20px;
}

/* PROGRESS BARS */
.progress {
  margin-top: 10px;
}

.progress-text {
  font-family: 'Lato', sans-serif;
  padding-left: 5px;
  padding-top: 2.5px;
}

.bg-progress-police {
  background-color: var(--blue)
}

.bg-progress-judicial {
  background-color: var(--red)
}

.bg-progress-utilities {
  background-color: var(--green)
}

.bg-progress-infrastructure {
  background-color: var(--yellow)
}

/* ACCORDION */
.accordion {
  padding-bottom: 30px;
}

.accordion-body p {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: auto 18;
}

h2.accordion-header {
  font-size: 24px;
}

.accordion-button.police-color:not(.collapsed) {
  color: #fff;
  background-color: var(--blue);
}

.accordion-button.judicial-color:not(.collapsed) {
  color: #fff;
  background-color: var(--red);
}

.accordion-button.utilities-color:not(.collapsed) {
  color: #fff;
  background-color: var(--green);
}

.accordion-button.infrastructure-color:not(.collapsed) {
  color: #fff;
  background-color: var(--yellow);
}

.accordion-button:focus {
  color: var(--black);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(180deg);
}

/* D3 CHARTS */
/* SANKEY */
#police-chart1, #judicial-chart, #utilities-chart, #infrastructure-chart {
  height: 500px;
  font: 13px 'Lato', sans-serif;
}

.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
  stroke-width: 0;
}

.node text {
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

/* LINE CHART */
#police-chart2, #police-chart3 {
  height: 300px;
}

text {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

path.domain {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

/*********************/
/* UTILITIES */
/*********************/
.card {
  background-color: var(--lightgray);
}

.card-text {
  color: var(--medium-blue);
  font-weight: bold;
  padding:10px;
}

.card-role {
  color: var(--medium-blue);
  font-weight: bold;
}

.card-subtext {
  margin-top: -4%;
  font-size: 18px;
}

.horizontal {
  margin-top: 3%;
  margin-bottom: 2%;
}

.horizontal-text {
  padding-bottom: 1%;
}

kground-color: var(--lightgray);
}

.card-text {
  color: var(--red);
  font-weight: bold;
}

.card-subtext {
  margin-top: -2%;
  font-size: 18px;
}

/*********************/
/* MEDIA QUERIES */
/*********************/

/* MOBILE */
@media screen and (max-width: 575px) {
  section {
    margin-left: 5%;
    margin-right: 5%;
  }

  .card {
    margin-bottom: 4%;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin-top: 2px;
  }

  .sankey-container {
    width: 100%;
  }
}

/* TABLET */
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 70%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 94%;
  }
}

  /*********************/
  /* GET INVOLVED */
  /*********************/
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
      /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Add a background color and some padding around the form */
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
