/* COLORS */
:root {
  --black: #2C3336;
  --blue: #308695;
  --red: #D45769;
  --yellow: #E69D45;
  --white: #D4CFC9;

  --stacked-dark-blue: #0a043c;
  --stacked-blue: #03506f;
  --stacked-light-blue: #79a3b1;
  --stacked-pale-blue: #d0e8f2;
  --stacked-gray: #bbbbbb;
  --stacked-pink-white: #ffe3d8;
  --stacked-white: #f4eeed;
}

/* GENERAL STYLES */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px !important;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: var(--black);
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: var(--black);
  text-align: left;
  font-weight: bold;
  /* padding-top: 25px; */
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-top: 6%;
}

p {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration-color: var(--red);
  text-decoration-thickness: .125em;
  text-decoration-style: dashed;
  text-underline-offset: 1.5px;
  color: inherit;
}

u {
  text-decoration-color: var(--red);
  text-decoration-thickness: .125em;
  text-decoration-style: dashed;
  text-underline-offset: 1.5px;
}

/* NAV */
.nav-bg {
  background-color: var(--black);
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: var(--red);
}

.nav-link {
  color: var(--white);
}

.nav-link:hover {
  color: var(--red);
}

/* BUTTONS */
.btn-group {
  margin: auto;
  width: 100%;
  padding-top: 10px;
}

.btn-color {
  background-color: var(--blue);
}

.btn-color:hover {
  background-color: #004d59;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.btn:hover {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

/* TEXT */
.text {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: auto 0;
}

/* INTRO */
.intro-content {
  padding: 20px;
}

.align-center {
  text-align: center;
}

/* IMAGES */
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* FOOTER */
.bg-color {
  background-color: var(--black);
}

.text-center {
  color: var(--white);
}

/*********************/
/* PUBLIC SAFETY  */
/*********************/
.visualization-content{
  padding-left: 5%;
}

.visualization-content p {
  font-size: 12px;
}

/* TIMELINE */
.history {
  margin-top: 2%;
  margin-bottom: 2%;
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin-top: 10%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--stacked-light-blue);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-header-container {
  padding: 10px 0px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.header-left {
  left: 0;
}

.header-right {
  left: 50%;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #474e5d;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--black);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d3d3d3;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #474e5d;
  border-width: 10px 10px 10px 0;
  border-color: transparent #d3d3d3 transparent transparent;
}

.right::after {
  left: -13px;
}

.timeline-content {
  padding: 10px 25px;
  background-color: #d3d3d3;
  position: relative;
  border-radius: 6px;
  color: #474e5d;
}

.timeline-content h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.0;
}

.timeline-content h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.0;
}

.timeline-content p{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

/* ACCORDION */
.accordion {
  padding-bottom: 30px;
}

h2.accordion-header {
  font-size: 24px;
}

.accordion-button:not(.collapsed) {
  color: var(--blue);
  background-color: #3086952e;
}

.accordion-button:focus {
  color: var(--blue)
}

/* D3 CHARTS */
/* SANKEY */
/* body {
  padding: 10px;
  min-width: 600px;
  max-width: 100%;
  margin: auto;
} */
#chart {
  height: 500px;
  font: 13px sans-serif;
}
.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
  stroke-width: 0;
}
.node text {
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

/* LINE CHART */
#chart2 {
  height: 300px;
}

text {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}


path.line {
  fill: none;
  stroke: var(--stacked-blue);
  stroke-width: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

/* BAR CHART */

/* LINE CHART */
#chart3 {
  height: 300px;
}

path.domain {
  stroke: none;
}

.y .tick line {
  stroke: #ddd;
}

/*********************/
/* MEDIA QUERIES */
/*********************/
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
    right: -13px;
  }

  .right {
    left: 0%;
  }
}
