/* COLORS */
:root {
  --black: #2C3336;
  --blue: #308695;
  --dark-blue: #004d59;
  --red: #D45769;
  --light-yellow: #e69d4570;
  --yellow: #E69D45;
  --dark-yellow: #c1843a;
  --white: #D4CFC9;
  --lightgray: #efefef;
  --stacked-dark-blue: #0a043c;
  --stacked-blue: #03506f;
  --stacked-light-blue: #79a3b1;
  --stacked-pale-blue: #d0e8f2;
  --stacked-gray: #bbbbbb;
  --stacked-pink-white: #ffe3d8;
  --stacked-white: #f4eeed;
}

/* GENERAL STYLES */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px !important;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: var(--black);
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: var(--black);
  text-align: left;
  font-weight: bold;
  padding-top: 2%;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-top: 2%;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1%;
}

a {
  text-decoration-color: var(--yellow);
  text-decoration-thickness: .125em;
  /* text-decoration-style: dashed; */
  text-underline-offset: 1.5px;
  color: inherit;
}

.text {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 0 0 10px;
}

.note {
  font-size: 12px;
}

u {
  text-decoration-color: var(--yellow);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}

/* NAV */
.nav-bg {
  background-color: var(--black);
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: var(--red);
}

.nav-link {
  color: var(--white);
}

.nav-link:hover {
  color: var(--red);
}

/* BUTTONS */
.btn-group {
  margin: auto;
  width: 100%;
  padding-top: 1%;
  margin-bottom: 2%;
}

.btn-color {
  background-color: var(--blue);
}

.btn-color:hover {
  background-color: var(--dark-blue);
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 0 !important;
}

.btn:hover {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

/* INTRO */
.intro-content {
  padding: 20px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: auto 0;
}

.align-center {
  text-align: center;
}

/* IMAGES */
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ICONS */
.icons-container {
  text-align: center;
}

.icons-container .icon {
  display: inline-block;
  margin: 10px 12px;
}

.icon img {
  height: 100px;
}

.caption {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.icon-attribution {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-style: italic;
  margin: 0 0 10px;
}

/* FOOTNOTES */
.footnotes {
  margin-top: 50px;
  font-size: 0.8em;
}

.footnotes ol {
  padding-left: 20px;
}

sup {
  color: var(--blue);
}

sup a {
text-decoration-color: var(--blue);
text-decoration-thickness: .125em;
text-underline-offset: 1.5px;
color: inherit;
}

#footnote a {
  text-decoration-color: var(--blue);
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
  color: inherit;}

#footnote a:hover {
  color: var(--dark-blue);
}

#footnote-url {
  text-decoration: none;

}

/* FOOTER */
.bg-color {
  background-color: var(--black);
}

.text-center {
  color: var(--white);
}

.footer {
  margin-top: 5%;
}

/* MARGINS */
.margin-top-xs {
  margin-top: 1%;
}

.margin-top-sm {
  margin-top: 2%;
}

.margin-top-md {
  margin-top: 3%;
}

.margin-top-lg {
  margin-top: 5%;
}

/*********************/
/* PUBLIC SAFETY  */
/*********************/
.year {
  color: var(--red);
  font-weight: bold;
  font-size: 20px;
}

/* PROGRESS BARS */
.progress {
  margin-top: 10px;
}

.progress-text {
  font-family: 'Lato', sans-serif;
  padding-left: 5px;
  padding-top: 2.5px;
}

.bg-progress {
  background-color: var(--red)
}

/* TIMELINE */
* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--stacked-light-blue);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-header-container {
  padding: 10px 0px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.header-left {
  left: 0;
}

.header-right {
  left: 50%;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #474e5d;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--black);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d3d3d3;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #474e5d;
  border-width: 10px 10px 10px 0;
  border-color: transparent #d3d3d3 transparent transparent;
}

.right::after {
  left: -13px;
}

.timeline-content {
  padding: 10px 25px;
  background-color: #d3d3d3;
  position: relative;
  border-radius: 6px;
  color: #474e5d;
}

.timeline-content h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.0;
}

.timeline-content h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.0;
}

.timeline-content p {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

/* ACCORDION */
.accordion {
  padding-bottom: 30px;
}

.accordion-body p {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: auto 0;
}

h2.accordion-header {
  font-size: 24px;
}

.accordion-button:not(.collapsed) {
  color: var(--black);
  background-color: var(--light-yellow);
}

.accordion-button:focus {
  color: var(--black);
}

/* D3 CHARTS */
/* SANKEY */
.svg {
  display: block;
  margin: auto;
  width: 700px;
}

#police-chart1, #judicial-chart, #utilities-chart, #infrastructure-chart {
  height: 500px;
  font: 13px 'Lato', sans-serif;
}

.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
  stroke-width: 0;
}

.node text {
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

/* LINE CHART */
#police-chart2, #police-chart3 {
  height: 300px;
  width: 700px;
}

.y-label {
  font-size: 14px;
}

text {
  font-family: 'Lato', sans-serif;
  font-size: 11.5px;
}

path.line {
  fill: none;
  stroke: var(--red);
  stroke-width: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

path.domain {
  stroke: none;
}

.y .tick line {
  stroke: #ddd;
}

/*********************/
/* UTILITIES */
/*********************/
.horizontal {
  margin-top: 3%;
  margin-bottom: 2%;
}

.horizontal-text {
  padding-bottom: 1%;
}

.card-body {}

.card {
  background-color: var(--lightgray);
}

.card-text {
  color: var(--red);
  font-weight: bold;
}

.card-subtext {
  margin-top: -2%;
  font-size: 18px;
}

/*********************/
/* MEDIA QUERIES */
/*********************/
@media screen and (max-width: 575px) {
  .card {
    margin-bottom: 4%;
  }
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  /* UTILITIES */
  /*********************/
  .horizontal {
    margin-top: 3%;
    margin-bottom: 2%;
  }

  .horizontal-text {
    padding-bottom: 1%;
  }

  .card-body {}

  .card {
    background-color: var(--lightgray);
  }

  .card-text {
    color: var(--red);
    font-weight: bold;
  }

  .card-subtext {
    margin-top: -2%;
    font-size: 18px;
  }

  /*********************/
  /* MEDIA QUERIES */
  /*********************/
  @media screen and (max-width: 575px) {
    section {
      margin-left: 5%;
      margin-right: 5%;
    }

    .card {
      margin-bottom: 4%;
    }

    .btn-group {
      display: flex;
      flex-direction: column;
    }

    .btn {
      margin-top: 2px;
    }
  }

  @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }

    .timeline-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

    .timeline-container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
      left: 15px;
      right: -13px;
    }

    .right {
      left: 0%;
    }
  }

  /*********************/
  /* GET INVOLVED */
  /*********************/
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
      /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Add a background color and some padding around the form */
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
