<!DOCTYPE html>
<html>
<body>
  <p class="align-center"><i>Use the four buttons below to switch between the different categories of Cleveland's spending.</i></p>
  <div class="btn-group" role="group">
    <a class="btn btn-color" href="public-safety.html"> Public Safety</a>
    <a class="btn btn-color" href="judicial-services.html"> Judicial Services</a>
    <a class="btn btn-color" href="utilities.html"> Utilities</a>
    <a class="btn btn-color" href="infrastructure.html"> Infrastructure</a>
    <a class="btn btn-color" href="transit.html">Public Transit</a>
  </div>
</body>
</html>
