<!DOCTYPE html>
<html>

<body>
  <p class="text align-center"><i>Use the four buttons below to switch between the different categories of Cleveland's spending.</i></p>

  <div class="btn-group btn-group-justified">
    <a href="public-safety.html" class="btn btn-color">PUBLIC SAFETY</a>
    <a href="judicial-services.html" class="btn btn-color">JUDICIAL SERVICES</a>
    <a href="utilities.html" class="btn btn-color">UTILITIES</a>
    <a href="infrastructure.html" class="btn btn-color">INFRASTRUCTURE</a>
    <a href="public-transit.html" class="btn btn-color">PUBLIC TRANSIT</a>
  </div>

</body>

</html>
