<!DOCTYPE html>
<html>

<body>
  <p class="text align-center"><i>Use the four buttons below to switch between the different categories of Cleveland's spending.</i></p>

  <div class="btn-group btn-group-justified">
    <a href="public-safety.html" class="btn btn-color public-safety-btn">PUBLIC SAFETY</a>
    <a href="judicial-services.html" class="btn btn-color judicial-services-btn">JUDICIAL SERVICES</a>
    <a href="utilities.html" class="btn btn-color utilities-btn">UTILITIES</a>
    <a href="infrastructure.html" class="btn btn-color infrastructure-btn">INFRASTRUCTURE</a>
  </div>

</body>

</html>
