<!DOCTYPE html>
<html>
<body>

  <!-- NAV BAR -->
  <nav class="navbar navbar-expand-lg navbar-dark nav-bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="https://raw.githubusercontent.com/cle-civic-transparency/cle-budget/master/images/logo.png" alt="logo" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Explore the Budget
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item public-safety-btn" href="public-safety.html">Public Safety</a></li>
              <li><a class="dropdown-item judicial-services-btn" href="judicial-services.html">Judicial Services</a></li>
              <li><a class="dropdown-item utilities-btn" href="utilities.html">Utilities</a></li>
              <li><a class="dropdown-item infrastructure-btn" href="infrastructure.html">Infrastructure</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="get-involved.html">Get Involved</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</body>
</html>
